.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: auto;
}

.cyan{
    color: cyan;
}

.crimson{
    color: crimson;
}